extends base

block content
  main.main
    .card-container
    
      each tour in tours
        .card
          .card__header
            .card__picture
              .card 
              img.card__picture-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)
            h3.heading-tertirary
              span= tour.name

          .card__details
            p.card__text= tour.description
            .card__data
              

          .card__footer
            p
              span.card__footer-value= `$${tour.price}`
              | 
              span.card__footer-text 
            p.card__ratings
              span.card__footer-value= tour.ratingsAverage
              | 
              span.card__footer-text= `rating (${tour.ratingsQuantity})`
            a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details